
  {% extends 'base.html' %}
  {% block content %}
  <div class="container-fluid mt-3">
     <div class="row">
     {% comment %} filter {% endcomment %}

     <div class="col-lg-3 mx-auto">
      <div class="list-group">
      <i class="fa-h2">Category</i>
          <a href="/" class="list-group-item list-group-item-action">All</a>
       {%for c in category%}
        <a href="/?category={{c.id}}" class="list-group-item list-group-item-action">{{c.name}}</a>
        
       {%endfor%}
      </div>
     
     </div>
      <div id='product' class="col-lg-8 mx-auto">

        <div class="row mx-auto">
          {%for product in products%}
            <div class="card mx-auto mb-3" style="width: 18rem;">
              <img class="card-img-top" src={{product.image.url}} alt="Card image cap">
              <div class="card-body">
                <p class="card-title">{{product.name}}</p>
                <p class="card-text">{{product.price}}</p>
                <a href="#" class="btn btn-light">Add to Cart</a>
              </div>
            </div>
          {%endfor%}
     
        </div>
      </div>
     </div>
  </div>
  {% endblock%}


