{%extends 'base.html'%}

{%block content%}

<div class="container">
    <div class="p-4 m-4">
        <div class="col-lg-5 mx-auto border rounded pt-4">
        <h3 class="alert alert-light border rounded"> Login Here</h3>
            <form action="/login" method="POST">
                {% csrf_token %}

                <div class="form-group">

                  <label for="">Email</label>
                  <input type="email" required name="email" id=""  class="form-control" placeholder="Enter your email">
                    {% if error%}
                        <h6 style=" color: red">{{error}}</h6>
                    {%endif%}
                </div>

                <div class="form-group">
                  <label for="">Password</label>
                  <input type="password" name="password" id="" class="form-control" placeholder="Enter your password">
                    {% if error%}
                        <h6 style=" color: red">{{error}}</h6>
                    {%endif%}
                </div>

                <div class="form-group">
                  <input type="submit" value ="Login"class="btn btn-primary"></input>
                </div>
            </form>
        </div>
    </div>



</div>




{%endblock%}