{%extends 'base.html'%}

{%block content%}

<div class="container">
    <div class="p-4 m-4">
        <div class="col-lg-5 mx-auto border rounded pt-4">
        <h3 class="alert alert-light border rounded"> Create an Account</h3>
            <form action="/signup" method="POST">{% csrf_token %}
                <div class="form-group">
                    <div class="form-group">
                  <label for="">First Name</label>
                  <input type="text" name="fname" id="" class="form-control" placeholder="Enter your First name">
                </div>

                <div class="form-group">
                  <label for="">Last Name</label>
                  <input type="text" name="lname" id="" class="form-control" placeholder="Enter your Last Name">
                </div>


                  <label for="">Email</label>
                  <input type="email" name="email" id="" class="form-control" placeholder="Enter your email">
                </div>

                <div class="form-group">
                  <label for="">Password</label>
                  <input type="password" name="password" id="" class="form-control" placeholder="Enter your password">
                </div>
                <div class="form-group">
                  <label for="">Mobile No</label>
                  <input type="text" name="phone" id="" class="form-control" placeholder="9999999999">
                </div>
                
                <div class="form-group">
                  <input type="submit" value ="Signup"class="btn btn-primary"></input>
                </div>
            </form>
        </div>
    </div>



</div>




{%endblock%}